
// needed for mobile version to separate from footer

.main-content {
    margin-bottom: 3.5em;
}

.main-content a {
    white-space: normal;
}

object.plantuml {
    max-width: 100%;
    height: auto;
}